html,body,p{
	margin: 0;
	padding: 0;
	color: #606060;
	font-family: sans-serif,Arial,Helvetica,OpenSans;
}
a{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}

.header{
	padding: 35px 0 31px;
	background-color: #f8f8f8;
	border-bottom: solid 1px #ddd; 

}
.header-container{
	width:990px;
	margin: 0 auto;
}
.left-header{
	width: 700px;
}
.logo-dy{
	margin-top: 6px;
	padding-right: 15px;
}
.v-bar{
	height: 28px;
	margin-top: 12px;
	border-right: solid 1px #ddd;
	vertical-align: top;
	display:inline-block;*display:inline;*zoom:1;
}
.square-icon{
	margin:-5px 20px 0px 0px;
}
.links{
	font-size: 14px;
	line-height: 14px;
}
.links  a{
	color: #50a8e1;
	text-decoration: none;
}
.links  a:hover{
	color: #61c2ec;
}
.title{
	margin-top: 10px;
	font-size: 24px;
	color: #444;
}
.btn-download{
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	background-color: #fe8e14;
	border-radius: 4px;
	/*for ie6,7*/
	display:inline-block;*display:inline;*zoom:1;
}
.btn-download:hover{
	background-color: #fd9e34;
}

.content-container{
	width:990px;
	margin: 0 auto;
	padding: 40px 0 0;
}
.left-container{
	width: 480px;
	height: 426px;
	display:inline-block;*display:inline;*zoom:1;
}
.video-container{
	width: 480px;
	height: 260px;
	border: solid 1px #ddd;
}
.grab-container{
	width: 480px;
	height: 49px;
	padding-top: 30px;
	border: solid 1px #ddd;
	border-top: 0px;
	text-align: center;
	vertical-align: middle;
}
.btn-grab{
	padding: 7px 30px;
	color: white;
	background-color: #2bafe8;
	border-radius: 4px;
}
.btn-grab:hover{
	background-color: #3abef7;
}
.btn-grab:active{
	background-color: #1ca0d9;
}
.right-container{
	margin-left: 15px;
	width: 480px;
	height: 580px;
	display:inline-block;*display:inline;*zoom:1;
}
.image-container{
	width: 480px;
	height: 260px;
	border: solid 1px #ddd;
}
.upload-container{
	width: 450px;
	padding-left: 30px;
	height: 139px;
	padding-top: 20px;
	border: solid 1px #ddd;
	border-top: 0px;
}
.upload-container > p{
	margin-bottom: 8px;
	font-size: 12px;
	font-family: sans-serif, Verdana;
	color: #3a3a3a;
}

.file-name-input{
	font-size: 12px;
}

.btn-upload{
	line-height: 48px;
	padding: 7px 30px;
	color: white;
	background-color: #2bafe8;
	border-radius: 4px;
}
.btn-upload:hover{
	background-color: #3abef7;
}
.btn-upload:active{
	background-color: #1ca0d9;
}
.uploaded-container{
	width: 450px;
	padding-left: 30px;
	height: 139px;
	border: solid 1px #ddd;
	border-top: 0px;
	overflow-y: auto; 
}
.uploaded-container > p{
	margin-top: 20px;
	font-size: 14px;
	font-family: sans-serif, Verdana;
	color: #3a3a3a;
}
#image-links{
	margin-top: 20px;
	font-size: 12px;
	font-family: sans-serif, Verdana;	
}
#image-links > a{
	color: #50a8e1;
	text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

#upload-container label {
    margin-right: 5px;
}

.footer{
	width: 970px;
	margin: 70px auto 0;
	padding: 65px 0 70px;
	text-align: center;
	font-size: 14px;
	color: #606060;
	border-top: solid 1px #ddd;
}
#loaderContent {
	text-align: center;
    position: fixed;
    _position: absolute;
    width: 160px;
    height: 120px;
    left: 50%;
    _left: expression((((w=document.documentElement.clientWidth)?w:document.body.clientWidth)+((l=document.documentElement.scrollLeft)?l:document.body.scrollLeft))/2+'px');
    top: 50%;
    _top: expression((((h=document.documentElement.clientHeight)?h:document.body.clientHeight)+((t=document.documentElement.scrollTop)?t:document.body.scrollTop))/2+'px');
    margin-left: -80px;
    margin-top: -60px;
    z-index: 101;
}
#imgLoader{
	width:160px;
	height:120px;
}
#spLoader{
	color: white;
	font-size: 14px;
	position: relative;
    top: -25px;
    left: 5px;
}
#loadingLayer {
    position: fixed;
    _position: absolute;
    top: 0;
    _top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
    left: 0;
    _left: expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
    width: 100%;
    height: 100%;
    _height: expression(0+((e=document.documentElement.clientHeight)?e:document.body.clientHeight)+'px');
    background: #000000;
    opacity: .3;
    filter: Alpha(Opacity=30);
    z-index: 100;
}

.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.fl { float: left; }
.fr { float: right; }
.inline-block { display:inline-block;*display:inline;*zoom:1; }
.block { display: block; }
.invisible { display: none; }
.nowrap { white-space: nowrap; }

.cl { clear: both; }
.vm { vertical-align: middle; }
.vt { vertical-align: top; }
.vb { vertical-align: bottom; }
.pr { position: relative; }
.pa { position: absolute; }
.zoom { zoom: 1; }
.overFlowAuto { overflow: auto; }

.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }
.pt70 { padding-top: 70px; }
.pt80 { padding-top: 80px; }
.pt100 { padding-top: 100px; }
.pr15 { padding-right: 15px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }
.pb70 { padding-bottom: 70px; }
.pb80 { padding-bottom: 80px; }
.pb100 { padding-bottom: 100px; }
.pl15 { padding-left: 15px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt32 { margin-top: 32px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mb0 { margin-bottom: 0; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml100 { margin-left: 100px; }
.mln5 { margin-left: -5px; }
.mauto { margin-left: auto; margin-right: auto; }
